In [1]:
import pandas as pd
import numpy as np
import re, math
from collections import Counter

In [2]:
# get similarity between two names.
# cosine similarity
WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
    # print vec1, vec2
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x]**2 for x in vec1.keys()])
    sum2 = sum([vec2[x]**2 for x in vec2.keys()])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator

def text_to_vector(text):
    return Counter(WORD.findall(text))

def get_similarity(a, b):
    a = text_to_vector(a.strip().lower())
    b = text_to_vector(b.strip().lower())

    return get_cosine(a, b)

In [3]:
df_financial = pd.read_excel('./data/Financial_data.xlsx',sheet_name="Sheet1")
df_directors = pd.read_excel("./data/director_data_1.xlsx",sheet_name="Sheet1")
df_bundestag_1 = pd.read_csv("./data/2005-2009 bundestag.csv",encoding = "ISO-8859-1") 
df_bundestag_2 = pd.read_csv("./data/2010-2013 bundestag.csv",encoding = "ISO-8859-1") 
df_bundestag_3 = pd.read_csv("./data/2014-2018 bundestag.csv",encoding = "ISO-8859-1") 
df_bundestag_4 = pd.read_csv("./data/2019-2021 bundestag.csv",encoding = "ISO-8859-1") 

politicians_1 = df_bundestag_1.iloc[:,0].unique().tolist()

temp = df_bundestag_2['Name'].unique().tolist()
politicians_2 = []
for x in temp:
    try:
        y = x.split(',')
        politicians_2.extend(y)
    except:
        pass

politicians_3 = df_bundestag_3['Member of the Bundestag'].unique().tolist()    

politicians_4 = df_bundestag_4['Name'].unique().tolist()  

df_financial

,gvkey,indfmt,datafmt,consol,popsrc,fyear,datadate,at,ceq,ebit,...,gvkey_fyear,Unnamed: 22,PROF,GROWTH,SIZE,TANG,Connected,1 connected,2 connected,3 or more connected
0,15496,FS,HIST_STD,C,I,2006,2006-12-31,98067.38300,3757.1521,749.38098,...,154962006,NaN,0.007641,0.036576,11.493410,0.010725,NaN,NaN,NaN,NaN
1,15496,FS,HIST_STD,C,I,2007,2007-12-31,101517.62000,3968.0249,584.45398,...,154962007,NaN,0.005757,0.034632,11.527988,0.009452,NaN,NaN,NaN,NaN
2,15496,FS,HIST_STD,C,I,2008,2008-12-31,98022.01600,3655.7380,18.79800,...,154962008,NaN,0.000192,0.037590,11.492947,0.010604,NaN,NaN,NaN,NaN
3,15496,FS,HIST_STD,C,I,2009,2009-12-31,104829.27000,4006.2571,626.60498,...,154962009,NaN,0.005977,0.034302,11.560088,0.009856,NaN,NaN,NaN,NaN
4,15496,FS,HIST_STD,C,I,2010,2010-12-31,110104.38000,4009.9800,733.78003,...,154962010,NaN,0.006664,0.034270,11.609184,0.009028,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11472,333885,INDL,HIST_STD,C,I,2018,2018-12-31,948.21301,-216.5480,107.12900,...,3338852018,NaN,0.112980,-0.000115,6.854579,0.002361,NaN,NaN,NaN,NaN
11473,333885,INDL,HIST_STD,C,I,2019,2019-12-31,958.92401,91.8610,163.86800,...,3338852019,NaN,0.170887,2.177203,6.865812,0.027614,NaN,NaN,NaN,NaN
11474,340153,INDL,HIST_STD,C,I,2017,2017-09-30,47290.00000,10123.0000,1424.00000,...,3401532017,NaN,0.030112,0.946952,10.764054,0.059103,NaN,NaN,NaN,NaN
11475,340153,INDL,HIST_STD,C,I,2018,2018-09-30,45763.00000,9499.0000,291.00000,...,3401532018,NaN,0.006359,0.989578,10.731231,0.058825,NaN,NaN,NaN,NaN
11476,340153,INDL,HIST_STD,C,I,2019,2019-09-30,45041.00000,11856.0000,541.00000,...,3401532019,1.0,0.012011,0.000000,10.715328,0.062854,6.0,7.0,8.0,9.0

In [4]:
df_financial = df_financial[['conm','fyear']]
df_financial.dropna(axis=0,how='any',inplace=True)

C:\Users\S.M.Ammar\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
def lowercase_boardNames(x):
    return x.lower()
    
df_directors['BoardName'] = df_directors['BoardName'].apply(lambda x:lowercase_boardNames(x))

In [6]:
def get_directors_name(boardName,fyear):
    temp_dirs = df_directors[df_directors['BoardName'].str.contains(boardName)]
    temp_dirs = temp_dirs[temp_dirs['fyear']==fyear]
    directors = temp_dirs['DirectorName'].tolist()
    return directors

In [7]:
def get_politicians_name(fyear):
    if(fyear>=2005 and fyear<=2009):
        return politicians_1
    elif(fyear>=2010 and fyear<=2013):
        return politicians_2
    elif(fyear>=2014 and fyear<=2018):
        return politicians_3
    elif(fyear>=2019 and fyear<=2021):
        return politicians_4
    else:
        return "not found"

In [8]:
def get_connections(directors,fyear):
    politicians_names = get_politicians_name(fyear)
    if(type(politicians_names)==str):
        return 0
    else:
        con = []
        for k in directors:
            for m in politicians_names:
                sim = get_similarity(k.lower(),m.lower())
                if(sim>=0.5):
                    con.append(1)
                    break
        if(len(con)==0):
            return 0
        return sum(con)

In [9]:
connections = []
for x in range(len(df_financial)):
    firmName = df_financial.iloc[x][0]
    fyear = df_financial.iloc[x][1]
    directors = get_directors_name(firmName.lower(),fyear)
    if(type(directors)==str):
        connections.append(0)
    elif(len(directors)==0):
        connections.append(0)
    else:
        con = get_connections(directors,fyear)
        connections.append(con)

C:\Users\S.M.Ammar\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [10]:
len(connections)

11477

In [11]:
len(df_financial)

11477

In [12]:
df_ = pd.DataFrame()
df_['Firms'] = df_financial['conm'].tolist()
df_['Year'] = df_financial['fyear'].tolist()
df_['Connections'] = connections

In [13]:
df_

                              Firms  Year  Connections
0      GENERALI DEUTSCHLAND HLDG AG  2006            0
1      GENERALI DEUTSCHLAND HLDG AG  2007            0
2      GENERALI DEUTSCHLAND HLDG AG  2008            0
3      GENERALI DEUTSCHLAND HLDG AG  2009            0
4      GENERALI DEUTSCHLAND HLDG AG  2010            0
...                             ...   ...          ...
11472                 TEAMVIEWER AG  2018            0
11473                 TEAMVIEWER AG  2019            1
11474             SIEMENS ENERGY AG  2017            0
11475             SIEMENS ENERGY AG  2018            0
11476             SIEMENS ENERGY AG  2019            0

[11477 rows x 3 columns]

In [14]:
df_.to_csv('./connections file/Firms_connection_directors.csv')

In [15]:
final_df = pd.read_excel("./data/Financial_data.xlsx")
final_df

,gvkey,indfmt,datafmt,consol,popsrc,fyear,datadate,at,ceq,ebit,...,gvkey_fyear,Unnamed: 22,PROF,GROWTH,SIZE,TANG,Connected,1 connected,2 connected,3 or more connected
0,15496,FS,HIST_STD,C,I,2006,2006-12-31,98067.38300,3757.1521,749.38098,...,154962006,NaN,0.007641,0.036576,11.493410,0.010725,NaN,NaN,NaN,NaN
1,15496,FS,HIST_STD,C,I,2007,2007-12-31,101517.62000,3968.0249,584.45398,...,154962007,NaN,0.005757,0.034632,11.527988,0.009452,NaN,NaN,NaN,NaN
2,15496,FS,HIST_STD,C,I,2008,2008-12-31,98022.01600,3655.7380,18.79800,...,154962008,NaN,0.000192,0.037590,11.492947,0.010604,NaN,NaN,NaN,NaN
3,15496,FS,HIST_STD,C,I,2009,2009-12-31,104829.27000,4006.2571,626.60498,...,154962009,NaN,0.005977,0.034302,11.560088,0.009856,NaN,NaN,NaN,NaN
4,15496,FS,HIST_STD,C,I,2010,2010-12-31,110104.38000,4009.9800,733.78003,...,154962010,NaN,0.006664,0.034270,11.609184,0.009028,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11472,333885,INDL,HIST_STD,C,I,2018,2018-12-31,948.21301,-216.5480,107.12900,...,3338852018,NaN,0.112980,-0.000115,6.854579,0.002361,NaN,NaN,NaN,NaN
11473,333885,INDL,HIST_STD,C,I,2019,2019-12-31,958.92401,91.8610,163.86800,...,3338852019,NaN,0.170887,2.177203,6.865812,0.027614,NaN,NaN,NaN,NaN
11474,340153,INDL,HIST_STD,C,I,2017,2017-09-30,47290.00000,10123.0000,1424.00000,...,3401532017,NaN,0.030112,0.946952,10.764054,0.059103,NaN,NaN,NaN,NaN
11475,340153,INDL,HIST_STD,C,I,2018,2018-09-30,45763.00000,9499.0000,291.00000,...,3401532018,NaN,0.006359,0.989578,10.731231,0.058825,NaN,NaN,NaN,NaN
11476,340153,INDL,HIST_STD,C,I,2019,2019-09-30,45041.00000,11856.0000,541.00000,...,3401532019,1.0,0.012011,0.000000,10.715328,0.062854,6.0,7.0,8.0,9.0

In [16]:
connected = []
c_1 = []
c_2 = []
c_3 = []

for x in range(len(connections)):
    if(connections[x]>=3):
        connected.append(1)
        c_1.append(0)
        c_2.append(0)
        c_3.append(1)
    elif(connections[x]==2):
        connected.append(1)
        c_1.append(0)
        c_2.append(1)
        c_3.append(0)
    elif(connections[x]==1):
        connected.append(1)
        c_1.append(1)
        c_2.append(0)
        c_3.append(0)
    else:
        connected.append(0)
        c_1.append(0)
        c_2.append(0)
        c_3.append(0)

In [17]:
final_df

,gvkey,indfmt,datafmt,consol,popsrc,fyear,datadate,at,ceq,ebit,...,gvkey_fyear,Unnamed: 22,PROF,GROWTH,SIZE,TANG,Connected,1 connected,2 connected,3 or more connected
0,15496,FS,HIST_STD,C,I,2006,2006-12-31,98067.38300,3757.1521,749.38098,...,154962006,NaN,0.007641,0.036576,11.493410,0.010725,NaN,NaN,NaN,NaN
1,15496,FS,HIST_STD,C,I,2007,2007-12-31,101517.62000,3968.0249,584.45398,...,154962007,NaN,0.005757,0.034632,11.527988,0.009452,NaN,NaN,NaN,NaN
2,15496,FS,HIST_STD,C,I,2008,2008-12-31,98022.01600,3655.7380,18.79800,...,154962008,NaN,0.000192,0.037590,11.492947,0.010604,NaN,NaN,NaN,NaN
3,15496,FS,HIST_STD,C,I,2009,2009-12-31,104829.27000,4006.2571,626.60498,...,154962009,NaN,0.005977,0.034302,11.560088,0.009856,NaN,NaN,NaN,NaN
4,15496,FS,HIST_STD,C,I,2010,2010-12-31,110104.38000,4009.9800,733.78003,...,154962010,NaN,0.006664,0.034270,11.609184,0.009028,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11472,333885,INDL,HIST_STD,C,I,2018,2018-12-31,948.21301,-216.5480,107.12900,...,3338852018,NaN,0.112980,-0.000115,6.854579,0.002361,NaN,NaN,NaN,NaN
11473,333885,INDL,HIST_STD,C,I,2019,2019-12-31,958.92401,91.8610,163.86800,...,3338852019,NaN,0.170887,2.177203,6.865812,0.027614,NaN,NaN,NaN,NaN
11474,340153,INDL,HIST_STD,C,I,2017,2017-09-30,47290.00000,10123.0000,1424.00000,...,3401532017,NaN,0.030112,0.946952,10.764054,0.059103,NaN,NaN,NaN,NaN
11475,340153,INDL,HIST_STD,C,I,2018,2018-09-30,45763.00000,9499.0000,291.00000,...,3401532018,NaN,0.006359,0.989578,10.731231,0.058825,NaN,NaN,NaN,NaN
11476,340153,INDL,HIST_STD,C,I,2019,2019-09-30,45041.00000,11856.0000,541.00000,...,3401532019,1.0,0.012011,0.000000,10.715328,0.062854,6.0,7.0,8.0,9.0

In [20]:
final_df.drop(labels=['Connected ','1 connected','2 connected','3 or more connected '],axis=1,inplace=True)
final_df

,gvkey,indfmt,datafmt,consol,popsrc,fyear,datadate,at,ceq,ebit,...,cik,conml,naics,sic,gvkey_fyear,Unnamed: 22,PROF,GROWTH,SIZE,TANG
0,15496,FS,HIST_STD,C,I,2006,2006-12-31,98067.38300,3757.1521,749.38098,...,NaN,Generali Deutschland Holding AG,524113,6311.0,154962006,NaN,0.007641,0.036576,11.493410,0.010725
1,15496,FS,HIST_STD,C,I,2007,2007-12-31,101517.62000,3968.0249,584.45398,...,NaN,Generali Deutschland Holding AG,524113,6311.0,154962007,NaN,0.005757,0.034632,11.527988,0.009452
2,15496,FS,HIST_STD,C,I,2008,2008-12-31,98022.01600,3655.7380,18.79800,...,NaN,Generali Deutschland Holding AG,524113,6311.0,154962008,NaN,0.000192,0.037590,11.492947,0.010604
3,15496,FS,HIST_STD,C,I,2009,2009-12-31,104829.27000,4006.2571,626.60498,...,NaN,Generali Deutschland Holding AG,524113,6311.0,154962009,NaN,0.005977,0.034302,11.560088,0.009856
4,15496,FS,HIST_STD,C,I,2010,2010-12-31,110104.38000,4009.9800,733.78003,...,NaN,Generali Deutschland Holding AG,524113,6311.0,154962010,NaN,0.006664,0.034270,11.609184,0.009028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11472,333885,INDL,HIST_STD,C,I,2018,2018-12-31,948.21301,-216.5480,107.12900,...,NaN,Teamviewer AG,511210,7372.0,3338852018,NaN,0.112980,-0.000115,6.854579,0.002361
11473,333885,INDL,HIST_STD,C,I,2019,2019-12-31,958.92401,91.8610,163.86800,...,NaN,Teamviewer AG,511210,7372.0,3338852019,NaN,0.170887,2.177203,6.865812,0.027614
11474,340153,INDL,HIST_STD,C,I,2017,2017-09-30,47290.00000,10123.0000,1424.00000,...,NaN,Siemens Energy AG,3336,3510.0,3401532017,NaN,0.030112,0.946952,10.764054,0.059103
11475,340153,INDL,HIST_STD,C,I,2018,2018-09-30,45763.00000,9499.0000,291.00000,...,NaN,Siemens Energy AG,3336,3510.0,3401532018,NaN,0.006359,0.989578,10.731231,0.058825
11476,340153,INDL,HIST_STD,C,I,2019,2019-09-30,45041.00000,11856.0000,541.00000,...,NaN,Siemens Energy AG,3336,3510.0,3401532019,1.0,0.012011,0.000000,10.715328,0.062854

In [21]:
final_df['Connected'] = connected
final_df['1 Connected'] = c_1
final_df['2 Connected'] = c_2
final_df['3 or mor Connected'] = c_3

In [22]:
final_df

,gvkey,indfmt,datafmt,consol,popsrc,fyear,datadate,at,ceq,ebit,...,gvkey_fyear,Unnamed: 22,PROF,GROWTH,SIZE,TANG,Connected,1 Connected,2 Connected,3 or mor Connected
0,15496,FS,HIST_STD,C,I,2006,2006-12-31,98067.38300,3757.1521,749.38098,...,154962006,NaN,0.007641,0.036576,11.493410,0.010725,0,0,0,0
1,15496,FS,HIST_STD,C,I,2007,2007-12-31,101517.62000,3968.0249,584.45398,...,154962007,NaN,0.005757,0.034632,11.527988,0.009452,0,0,0,0
2,15496,FS,HIST_STD,C,I,2008,2008-12-31,98022.01600,3655.7380,18.79800,...,154962008,NaN,0.000192,0.037590,11.492947,0.010604,0,0,0,0
3,15496,FS,HIST_STD,C,I,2009,2009-12-31,104829.27000,4006.2571,626.60498,...,154962009,NaN,0.005977,0.034302,11.560088,0.009856,0,0,0,0
4,15496,FS,HIST_STD,C,I,2010,2010-12-31,110104.38000,4009.9800,733.78003,...,154962010,NaN,0.006664,0.034270,11.609184,0.009028,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11472,333885,INDL,HIST_STD,C,I,2018,2018-12-31,948.21301,-216.5480,107.12900,...,3338852018,NaN,0.112980,-0.000115,6.854579,0.002361,0,0,0,0
11473,333885,INDL,HIST_STD,C,I,2019,2019-12-31,958.92401,91.8610,163.86800,...,3338852019,NaN,0.170887,2.177203,6.865812,0.027614,1,1,0,0
11474,340153,INDL,HIST_STD,C,I,2017,2017-09-30,47290.00000,10123.0000,1424.00000,...,3401532017,NaN,0.030112,0.946952,10.764054,0.059103,0,0,0,0
11475,340153,INDL,HIST_STD,C,I,2018,2018-09-30,45763.00000,9499.0000,291.00000,...,3401532018,NaN,0.006359,0.989578,10.731231,0.058825,0,0,0,0
11476,340153,INDL,HIST_STD,C,I,2019,2019-09-30,45041.00000,11856.0000,541.00000,...,3401532019,1.0,0.012011,0.000000,10.715328,0.062854,0,0,0,0

In [23]:
final_df.to_csv('./output Files/Firms related to Poiliticians - Directors-1.csv')